@charset "UTF-8";
/*FONTES*/
@font-face {
    font-family: 'Debug Free Trial';
    src: url(font/DebugFreeTrial-MVdYB.otf) format('opentype');
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*VARIÁVEIS CSS*/
:root{
    --titulo-principal: "Debug Free Trial", Arial, sans-serif;
    --textos: "Poppins", Arial, sans-serif;
}
/*RESET*/
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: var(--textos);
    color: white;
}
/*INÍCIO DAS CONFIGURAÇÕES*/
html, body{
    height: 100vh;
    width: 100vw;
    background-color: #0F111D;
}
body{
    background-image: url(img/noisy-gradients.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    overflow: hidden;
}
svg {
    position: absolute;
    right: 3em;
    top: 20px;
    cursor: pointer;
}
svg:hover{
    opacity: 0.7;
}
.tela-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: auto;
    width: 70%;
    height: 100%;
}
.tela-inicial > h1{
    font-family: var(--titulo-principal);
    font-size: 3em;
    text-align: center;
}
.tela-inicial > h2{
    text-align: center;
}
.tela-inicial > p{
    text-align: center;
}
.tela-inicial > button{
    padding: 1.3em 3em;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.tela-inicial > button:hover{
    background-color: #103F96;
    box-shadow: 0px 15px 20px #103f9681;
    color: #fff;
    transform: translateY(-7px);
}
.tela-inicial > button:active{
    transform: translateY(-1px);
}
h1,h2,p{
    width: 100%;
}