@charset "UTF-8";
/*FONTES*/
@font-face {
    font-family: 'Debug Free Trial';
    src: url(font/DebugFreeTrial-MVdYB.otf) format('opentype');
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*VARIÁVEIS CSS*/
:root{
    --titulo-principal: "Debug Free Trial", Arial, sans-serif;
    --textos: "Poppins", Arial, sans-serif;
}
/*RESET*/
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: var(--textos);
}
/*INÍCIO DAS CONFIGURAÇÕES*/
html, body{
    height: 100vh;
    width: 100vw;
    background-color: #0F111D;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
/*MAIN*/
.tela-inicial{
    width: 80%;
    height: 65%;
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
}
.tela-inicial > h1{
    color: #303030;
    font-family:var(--titulo-principal);
    font-size: 3em;
    text-align: center;
    margin: 25px;
}
.tela-inicial > h2{
    color: #303030;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 25px;
}
.tela-inicial > p{
    font-size: 1.1em;
    line-height: 30px;
    text-align: justify;
    max-width: 80%;
    margin: auto;
    margin-bottom: 25px;
}
.btn-start{
    color: white;
    font-size: 1.1em;
    background-color: #303030;
    border: none;
    border-radius: 3px;
    display: block;
    margin: auto;
    width:100px;
    height: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.441);
    cursor: pointer;
}
.btn-start:hover{
    opacity: 0.8;
}