@charset "UTF-8";
header{
    background-color: #303030;
    text-align: center;
    width: 80%;
    max-width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.5s ease-in-out;
    z-index: 5;
}
header.ativo{
    right: 0;
}
.home{
    position: fixed;
    right: 80px;
}
.settings{
    position: fixed;
    right: 30px;
    transition: transform 0.3s ease-in;
}
.settings:hover{
    transform: rotate(45deg);
    opacity: 0.7;
}
.home, .settings{
    top: 1.8em;
    cursor: pointer;
    z-index: 10;
}
.home:hover{
    opacity: 0.7;
}
/*ESTILIZAÇÃO DA TELA DE CONFIGURAÇÕES*/
.form-settings{
    width: 80%;
    margin: auto;
}
.form-settings_title{
    font-size: 1.2em;
    text-align: center;
    margin-top: 90px;
}
.form-settings_nome{
    color: #303030;
    font-size: 1.1em;
    display: block;
    margin: 20px auto;
    padding: 8px;
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: none;
}
@media (max-width: 480px) {
    header{
        width: 100%;
        max-width: 100%;
    }
    .settings:hover{
        transform: rotate(0deg);
        opacity: 1;
    }
    .home:hover{
        opacity: 1;
    }
    .form-settings_nome{
        width: 75%;
    }
}