@charset "UTF-8";

/*ÍCONES*/
.settings_link-home{
    color: white;
    text-decoration: none;
}
.link-home_icon{
    position: fixed;
    top: 20px;
    right: 80px;
    cursor: pointer;
}
.link-home_icon:hover{
    opacity: 0.7;
}
.settings_icon{
    position: fixed;
    top: 20px;
    right: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.settings_icon:hover{
    opacity: 0.7;
    transform: rotate(-45deg);
}
/*HEADER SETTINGS*/
.settings{
    background-color: #303030;
    width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 5;
    transition: right 0.5s ease-in-out;
}
.settings--active{
    right: 0;
}
@media (max-width: 600px) {
    .settings{
        width: 100%;
    }
    .link-home_icon:hover, .settings_icon:hover{
        opacity: 1;
        transform: rotate(0);
    }
}