@charset "UTF-8";
@font-face {
    font-family: 'Debug Free Trial';
    src: url(../fonts/DebugFreeTrial-MVdYB.otf) format('opentype');
    font-weight: normal;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
h1{
    font-size: 2.5em;
}
main{
    max-width: 80%;
    margin: auto;
}
main > *{
    text-align: justify;
    line-height: 30px;
}
main .btnOpcao{
    margin: 0 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    background-color: #103F96;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform .8s ease;
}
main .btnOpcao:hover{
    color: #103F96;
    background-color: #fff;
    transform: translateY(-10px);
    box-shadow: 8px 5px 10px 5px rgba(29, 29, 29, 0.373);
}
.gameWin{
    color: #25D366;
    font-family: "Debug Free Trial", Arial, sans-serif;
    font-size: 6em;
    text-align: center;
    margin-top: 27vh;
}
.gameOver{
    color: #F2275D;
    font-family: "Debug Free Trial", Arial, sans-serif;
    font-size: 6em;
    text-align: center;
    margin-top: 27vh;
}
@media (max-width: 600px) {
    main .containerButtons{
        display: flex;
        justify-content: space-around;
    }
    .gameWin{
        font-size: 5em;
    }
    .gameOver{
        font-size: 5em;
    }
}